/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

/* scroll behaviour */
html{
    scroll-behavior: smooth;
}

/* cutom property */
:root{
    --primary-color: #88304E;
    --secondary-color: #311D3F;
    --font-color: #04040A;
}

/* styles */
body{
    margin: 0;
}
.width80{
    width: 80%;
    margin: 100px auto;
}
.width50{
    width: 50%;
}

/* navbar style */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.logo{
    font-family: quicksand;
    font-size: 25px;
    cursor: pointer;
}
.logo h4{
    margin: 16px 0;
    color: var(--font-color);
}
.navigations ul{
    display: flex;
}
.navigations ul li{
    list-style-type: none;
    margin-left: 40px;
}
.navigations ul li a{
    text-decoration: none;
    font-family: roboto;
    font-size: 16px;
    color: var(--font-color);
}
.navigations ul li:hover a{
    border-bottom: 2px solid var(--primary-color);
}

/* header style  */
.header-container{
    display: flex;
    align-items: center;
}

.heading-one{
    font-family: quicksand;
    color: var(--font-color);
    font-size: 55px;
    margin: 0;
}
span{
    color: var(--primary-color);
}
.paragraph{
    width: 90%;
    font-family: roboto;
    font-size: 16px;
    margin: 30px 0;
    line-height: 25px;
    opacity: 80%;
}
.button{
    background-color: var(--secondary-color);
    padding: 15px 30px;
    font-family: quicksand;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: var(--primary-color);
}
.header-image{
    display: flex;
    justify-content: flex-end;
    animation: header-image-anim 2s linear infinite alternate;
}
.header-image img{
    width: 80%;
    border-radius: 10px;
}

/* header image animation */
@keyframes header-image-anim {
    0%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(8px);
    }
}


/* logos style */
.logos{
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
    border-top: 1px solid rgba(139, 139, 139, 0.411);
    border-bottom: 1px solid rgba(139, 139, 139, 0.411);
}

/* popular collection style  */
.popular-collection{
    margin: 100px 0;
}
.heading-two{
    font-family: quicksand;
    color: var(--font-color);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.item{
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.35);
    color: var(--font-color);
    padding: 17px;
    border-radius: 10px;
}
.item .item-image{
    overflow: hidden;
    border-radius: 10px;
}
.item img:hover{
    transform: scale(1.3);
    transition: 1.5s;
}
.item .item-name{
    font-family: quicksand;
    font-size: 25px;
    margin: 10px 0;
}
.item .item-price{
    font-family: roboto;
    font-size: 22px;
    margin: 10px 0;
}
.item .rating{
    font-size: 16px;
    font-family: roboto;
    font-weight: 500;
}
.item .item-describtion{
    font-family: roboto;
    font-size: 14px;
    margin: 2px;
}
.see-more{
    text-align: right;
}
.see-more a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: quicksand;
    font-weight: 700;
    font-size: 18px;
    transition: 0.5s;
}
.see-more a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

/* recent projects style */
#projects .heading-two{
    margin-bottom: 20px;
}
.para-middle-align{
    margin: auto;
    width: 38%;
    text-align: center;
}
.projects{
    margin: 50px 0;
}
.project-photos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-photos .photo{
    margin: 10px;
}
.project-photos .photo img{
    width: 100%;
    border-radius: 10px;
}
.project-photos .photo.side{
    width: 40%;
    opacity: 40%;
}
.photo.middle{
    position: relative;
}
.photo.middle .text{
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 10px;
    height: 69%;
    padding: 100px 40px;;
    opacity: 0%;
}
.photo.middle:hover .text{
    opacity: 100%;
    transition: 2s;
    transition-delay: 0.2s;
}
.photo.middle .text h3{
    font-family: quicksand;
    font-size: 25px;
    margin-bottom: 30px;
}
.photo.middle .text p{
    font-family: roboto;
    line-height: 30px;
    opacity: 70%;
    margin-bottom: 30px;
}
.photo.middle .text a{
    text-decoration: none;
    color: white;
    font-family: quicksand;
}
.photo.middle .text a:hover{
    color: var(--primary-color);
    transition: 0.5s;
}

/* footer style */
footer{
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
footer .logo h4 {
    color: white;
    margin: 5px 0;
}
footer p{
    margin: 5px 0;
    font-family: roboto;
}
.social-icon{
    margin-top: 10px;
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.social-icon img{
    width: 28px;
}

@media only screen and (max-width:688px){
    .width80{
        margin: 20px auto;
        width: 90%;
    }
    nav{
        flex-direction: column;
    }
    .nav-container{
        margin: 0 auto;
    }
    .logo h4{
        font-size: 30px;
        color: var(--primary-color);
    }
    .navigations{
        display: none;
    }
    .header-container{
        flex-direction: column;
    }
    .width50{
        width: 100%;
    }
    .heading-one{
        font-size: 35px;
        margin-top: 20px;
    }
    .header-text{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paragraph{
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
    .header-image img{
        width: 100%;
        order: 1;
    }
    .logos{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .logos img{
        margin: 10px;
        width: 60px;
    }
    .popular-collection{
        margin-top: 0;
    }
    .heading-two{
        font-size: 25px;
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .project-photos .photo.side{
        width: 100%;
    }
    .photo.middle .text{
        border-radius: 10px;
        height: 92%;
        padding: 5px 11px;;
        opacity: 0%;
    }
    .photo.middle .text h3{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .photo.middle .text p{
        display: none;
    }
    .social-icon{
        margin-top: 10px;
        width: 30%;
    }
    .social-icon img{
        width: 20px;
    }
}